body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./background.png);
}

.navbar {
  background-color: teal;
}

.category-aktif {
  background-color: teal;
  color: white;
}

.btn-primary {
  background-color: teal;
  color: white;
}

@media only screen and (max-height: 1000px) {
  .result {
    height: 505px;
  }

  .barang {
    height: 635px;
  }
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}